
$paper-wysiwyg-color-primary: #ab7ef6 !default;
$paper-wysiwyg-color-primary-50: rgba($paper-wysiwyg-color-primary, .5) !default;
$paper-wysiwyg-color-dark-bg: #171e29 !default;
$paper-wysiwyg-color-bubble-bg: rgb(47, 51, 54) !default;
$paper-wysiwyg-color-bubble-fg: rgb(187 188 189) !default;
$paper-wysiwyg-color-bubble-description-fg: #7d7f81 !default;
$paper-wysiwyg-color-bubble-hover-bg: rgba(white, .05) !default;
$paper-wysiwyg-color-bubble-hover-fg: white !default;
$paper-wysiwyg-color-dark-bg-text: #ffffff !default;
$paper-wysiwyg-hr-color: #555 !default;
$paper-wysiwyg-color-dark-bg-border: rgba(white, .2) !default;
$paper-wysiwyg-icon-size: 24px !default;
$paper-wysiwyg-table-th-bg: rgba(white, 0.1) !default;
$paper-wysiwyg-table-border-color: #bbb !default;
$paper-wysiwyg-table-grip-color: #ccc !default;
$paper-wysiwyg-table-grip-color-selected: #aaa !default;
